*{
    margin:0;
    padding:0;
    
  }

  img{
    max-width: 100%;
  }

  #perfil{
    background-color:#EFE3FF;
    height:100vh;
    width:300px;
  }
  #linha{
    display:block;
    height:3px;
    width:90%;
    background-color:#9747FF;
  }
  #perfil img{
    max-width: 80%;
  }